<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件-props-动态组件</title>
	<script src="../vue.min.js"></script>
</head>
<body>
	<div id="container">
		<input type="radio" id="one" value="fast" v-model="currentView">
		<label for="one">fast</label>
		<br>
		<input type="radio" id="two" value="bus" v-model="currentView">
		<label for="two">bus</label>
		<br>
		<input type="radio" id="three" value="business" v-model="currentView">
		<label for="three">business</label>
		<br>
		<component :is="currentView">
			
		</component>
	</div>
	<script>
		var bus = Vue.extend({
			template:'<div>滴滴巴士</div>',
			repalce:true
		});
		var business = Vue.extend({
			template:'<div>滴滴专车</div>',
			repalce:true
		});
		var fast = Vue.extend({
			template:'<div>滴滴快车</div>',
			repalce:true
		});
		new Vue({
			el:'#container',
			data:{
				currentView:'bus'
			},
			components:{
				fast:fast,
				bus:bus,
				business:business
			}
		});
	</script>
</body>
</html>